html, body {
    padding: 0;
    margin: 0;

}

body > header {
    background-color: #ccc9c9;
    padding: 2rem;
    font-size: 2rem;
    text-align: center;
}

.main {
    width: 1080px;
    margin: 0 auto;
    margin-top: 35px;
}

.form_author{
    width: 740px;
    margin: 0 auto;
}
.form_book{
    width: 740px;
    margin: 0 auto;
}

.save_author{
    margin-top: 15px;
}

.form_add_author{
    margin-top: 35px;
    margin-bottom: 10px;
}

.add_author{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.author{
    margin-top: 25px;
}


.book-list {
    display: flex;
    flex-wrap: wrap;
}

.book {
    padding: .5rem;
    margin: 1rem 0;
    width: 250px;
}

.book img {
    width: 240px;
    height: 320px;
}

.author {
    font-weight: bold;
}

.annotation {
    text-align: justify;
}

.search{
 margin-top: 5px;
 margin-right: 20px;
}

.filter{
    margin-top: 5px;
    margin-right: 20px;
    margin-left: 5px;
    margin-bottom: 20px;
    width:  670px;
}
